<!-- Lists all of the parts which can be created. -->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Products Ready to be created</h2>
			<table class="table sortable">
				<thead>
					<tr>
					<th>Part #</th>
					<th>sku</th>
					<th>Prototype</th>
					<th>Price</th>
					<th>Available on</th>
					<th>Shipping category</th>
					<th colspan="2">Make a Product</th>
					</tr>
				</thead>
				<tbody>
					<tr></tr>
				</tbody>
			</table>	


		</div>
	</div>
	
</div>