<!-- Lists all of the parts which can be created. -->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Products Ready to be created</h2>
			<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_messages %>
			</div>

			<table>
				<thead>
					<tr>
					<th>Part #</th>
					<th>sku:</th>
					<th>Prototype:</th>
					<th>Price:</th>
					<th>Available on:</th>
					<th>Shipping category:</th>
					<th>Make a Product:</th>
				</tr>
			</table>	


		</div>
	</div>
	
</div>